@tailwind base;
@tailwind components;
@tailwind utilities;

.wand-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: grid;
  place-items: center;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #000;
  cursor: pointer;
  transition: 0.1s;
}

.hide-btn {
  display: none;
}
